---
import type { INavigation } from '@Types';
interface Props extends INavigation {}

const { links } = Astro.props;
---

<header class="grid header">
  <h1 class="header__title">
    I create modern, clear and creative design using best practices to make for my clients high quality product.
  </h1>
  <button class="header__title">SEE MY WORKS</button>
  <nav>
    <ul class="header__navigation desktop">
      {
        links.map(link => (
          <li>
            <a href={link.anchor} class="navigation__href color-white">
              {link.linkName}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  .navigation__href {
    font-weight: bold;
    font-size: var(--font-48);
    text-transform: capitalize;
  }
</style>
